vendor/
.terraform/*
terraform.tfstate*
.terraform.lock.hcl
.terraform.tfstate.lock.info
.makefile
makefile 
example/
terraform-provider-*
credentials.json
*.exe
*.tf
*.iml
*.terraform*
*.terraform/
*tfstate*
*backend.config
errored.tfstate
*.idea